
body { 
	background-color: rgb(201, 105, 79);
}

 
h1 {
	text-align: center; 
	font-size: 60px;
	letter-spacing: 1px;
	margin-top: 70px;
	margin-bottom: 40px;	
	margin-left: 30px; 
	margin-right: 50px;
}

h1, h2, h3, header, body {
	font-family: Garamond;
}

h2 {
	color: white;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size:40px;
}


h4 {
	color:white;
}


.card-title {
	color:black;
}

.dropdown-menu a:link, a:visited {
   background-color: none;
}

.dropdown-menu a:hover, a:active {
	background-color: rgb(201, 105, 79);
}

p {
	text-align: justify;
	font-size: 20px;
}
	
a:link, a:visited {
	color: black;
	text-decoration: none;
	background-color: none;
}

a:hover, a:active {
  	color: white;
  	text-decoration: underline;
  	background-color: none;
}

#collage {
	margin-left:50px;
	margin-right:50px;
	margin-top:50px;
	margin-bottom:40px;
}

#introduzione, #lista-tappe {
	margin-bottom: 40px;
}

.persona {
	text-decoration: underline;
}

#strumenti, #tappe-caso, #cards {
	background-color: rgb(95, 92, 93);
	padding-top: 15px;
	padding-bottom: 30px;
}

.bottoni-card {
	font-size: 20px;
}

.card-strumenti {
	height:400px;
}

.card-item {
	border-radius: 10px;
	height:730px;
}

.riga2 {
	height:600px;
}

.card-img-top {
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;

}

#luoghi {
	margin-top: 40px;
	margin-bottom: 70px;
}

.table {
	background-color: white;
}

#sciascia { 
	border-style: solid;
	border-width: 10px;
	border-color: rgb(95, 92, 93);
	border-radius: 15px;
	height: 350px;
	width: 600px;
}

#sciascia-box {
	position: relative;
 	text-align: center;
}

.bottom-left {
	position: absolute;
	bottom: 20px;
	left: 200px;
}

.carousel-item {
	position: relative;
}

.top-left {
	position: absolute;
	top: 10px;
	left: 50px;
}

.carousel-caption {
	color: rgb(255, 26, 71);
}


.bi {
	font-size: 25px;
}

.bi-code-square, .bi-share-fill {
	font-size: 15px;
}

footer {
	background-color: white;
	padding-top: 15px;
	padding-bottom: 5px;
	margin-top: 20px;
}

